body {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

#root {
  min-height: 100vh;
  max-height: 100vh;
}
